<template name="header">
  <div id="site-menu">
    {{#if currentUser}}
    <h2 class="text-center toggle-nav">Welcome {{userName}}</h2>
    {{else}}
    <h2 class="text-center toggle-nav">Menu</h2>
    {{/if}}
    <ul>
      {{#if currentUser}}
        <li><a href="{{pathFor 'profile'}}"><i class="ion-person pull-left"></i> Profile</a></li>
        <li><a href="{{pathFor 'entrySignOut' }}"><i class="ion-log-out pull-left"></i> Sign Out</a></li>
      {{else}}
        <li><a href="{{pathFor 'entrySignIn' }}"><i class="ion-log-in pull-left"></i> Sign In</a></li>
        <li><a href="{{pathFor 'entrySignUp' }}"><i class="ion-edit pull-left"></i> Sign Up</a></li>
      {{/if}}
        <li><a href="{{pathFor 'contact' }}"><i class="ion-email pull-left"></i> Contact</a></li>
    </ul>
  </div>
  <!-- Fixed navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="mobilemenu pull-right visible-xs-inline-block toggle-nav">
            <i class="ion-navicon"></i>
          </button>
          <a class="navbar-brand" href="/">Brand</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="{{pathFor 'contact'}}">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}
            <li><a href="{{pathFor 'profile'}}">Profile</a></li>
            <li><a href="{{pathFor 'entrySignOut'}}">Sign Out</a></li>
            {{else}}
            <li><a href="{{pathFor 'entrySignIn'}}">Sign In</a></li>
            <li><a href="{{pathFor 'entrySignUp'}}">Sign Up</a></li>
            {{/if}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</template>
