body {
  // Offset the fixed navbar
  margin-top: 65px;
}
// Add in row and column centering
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#iron-router-progress {
  background-color: @progress-background;
  box-shadow: 0 0 5px @progress-shadow-color;
}
